<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }

        #system_response {
            background-color: #fff3f3;
            border-left: 5px solid #dc3545;
            border-radius: 4px;
            font-family: monospace;
            color: #721c24;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Emotion Detection</h1>
            <div style="padding: 25px 25px 25px 25px;">
                <h2 class="mb-3">
                    <label class="form-label">Please enter the text to be analyzed</label>
                    <input type="textarea" class="form-control" id="textToAnalyze" value="">
                </h2>

                <div style="padding: 10px 25px 10px 25px;">
                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
                </div>
                <div style="padding: 10px 25px 10px 25px;"></div>
                <h2 class="mb-3">
                    <label class="form-label">Result of Emotion Detection</label>
                </h2>

                <div id="system_response" style="padding: 20px; margin: 25px;">Invalid text! Please try again!.</div>
            </div>
        </div>
</body>